<app-page-width-limiter>
  <h2>🫡 Hello!</h2>
  <span>
    🎨 This site is a place for me to publish things I experiment in my free
    time and document it in a more understandable way.
    <br />
    It's kind of an archive of what I do and find worth sharing.
    <br />
    <br />
    💻 For those wondering, this site is a monorepo, which allows me to isolate
    my code demos without having to upgrade the dependencies that I used.
    <br />
    <br />
    All the code is available online on my GitHub → link
  </span>

  <h2>📓 Last posts</h2>
  <span>(...)</span>

  <h2>〽️ Github informations</h2>
  <span>(...)</span>
</app-page-width-limiter>
