<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title><strong>Post title</strong></mat-card-title>
    <mat-card-subtitle>
      <span>Oct 02 - 2025</span>
      <mat-chip-set>
        <mat-chip>Angular</mat-chip>
        <mat-chip>UX</mat-chip>
        <mat-chip>UI</mat-chip>
      </mat-chip-set>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Wanna build cool apps? Angular flips the game — fast, clean, powerful.
      Dive in and see how it can change the way you code forever.
    </p>
  </mat-card-content>
</mat-card>
